.total-score{
    display: flex;
    position: relative;
    margin: 25px 50px;
    flex-direction: column;
    height: 150px;
    width: 150px;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.score{
    font-family: Poppins;
    font-size: 80px;
    font-weight: 500;
    line-height: 30px; 
}
.total{
    
    font-size: 20px;
}